/*GLOBAL*/
* {
    box-sizing: border-box;
}

h1 {
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    font-family: cursive;
}

h2 {
    font-weight: 400;
    font-style: italic;
    text-align: center;


}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/***************Top Row*****************/

.toprow {
    display: flex;
    align-items: stretch;
    justify-content: center;
    border: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.newsitem1 {
    padding: 10px 10px;
    width: 25%;
}

.breakingnews {
    border: 1px solid black;
    border-top: 0px;
    border-bottom: 0px;
    padding: 10px 10px;
    width: 50%;
}

img {
    width: 100%;
}

.newsitem2 {
    padding: 10px 10px;
    width: 25%;

}

/*******************Bottom Row******************/
.bottomrow {
    display: flex;
    width: 100%;
    border-bottom: 3px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    

}

.newsitem3 {
    border-right: 1px solid black;
    padding: 10px 10px;
    width: 25%;
    border-bottom: 3px solid black;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 75%;
    padding: 0;
    margin:0;
    border-bottom: 3px solid black;
}

.navitem {
    width: 100%;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Futura";
  
}

.navitem-politics {
    background-color: #beebe9;
    font-size: 30px;
    flex: 1;

}

.navitem-tech {
    background-color: #f4dada;
    font-size: 30px;
     flex: 1;
}

.navitem-local {
    background-color: #fcf8e8;
    font-size: 30px;
     flex: 1;
}

.navitem-opinion {
    background-color: #ffb6b9;
    font-size: 30px;
     flex: 1;
}

.navitem-sports {
    background-color: #f6eec7;
    font-size: 30px;
     flex: 1;
}
